<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ops.school.api.dao.card.CardUserMapper" >
<resultMap id="BaseResultMap" type="ops.school.api.vo.card.CardUserVO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="school_id" property="schoolId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="card_id" property="cardId" jdbcType="INTEGER" />
    <result column="card_day_time" property="cardDayTime" jdbcType="INTEGER" />
    <result column="card_day_money" property="cardDayMoney" jdbcType="DECIMAL" />
    <result column="card_type" property="cardType" jdbcType="TINYINT" />
    <result column="card_failure_time" property="cardFailureTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="update_id" property="updateId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
</resultMap>

    <sql id="Base_Column_List" >
        id,
        school_id,
        user_id,
        card_id,
        card_day_time,
        card_day_money,
        card_type,
        card_failure_time,
        is_delete,
        create_id,
        update_id,
        create_time,
        update_time
    </sql>

    <sql id="Table_Name">
        card_user
    </sql>

<sql id="Select_Limit_State">
    is_delete = 0
    <if test="id != null and id != '' ">
        AND id = #{id}
    </if>
    <if test="schoolId != null and schoolId != '' ">
        AND school_id = #{schoolId}
    </if>
    <if test="userId != null and userId != '' ">
        AND user_id = #{userId}
    </if>
    <if test="cardId != null and cardId != '' ">
        AND card_id = #{cardId}
    </if>

    <if test="cardDayTime != null and cardDayTime != '' ">
        AND card_day_time = #{cardDayTime}
    </if>
    <if test="cardDayMoney != null and cardDayMoney != '' ">
        AND card_day_money = #{cardDayMoney}
    </if>
    <if test="cardType != null and cardType != '' ">
        AND card_type = #{cardType}
    </if>
    <if test="cardFailureTime != null and cardFailureTime != '' ">
        AND card_failure_time = #{cardFailureTime}
    </if>
    <if test="isDelete != null and isDelete != '' ">
        AND is_delete = #{isDelete}
    </if>
    <if test="createId != null and createId != '' ">
        AND create_id = #{createId}
    </if>
    <if test="updateId != null and updateId != '' ">
        AND update_id = #{updateId}
    </if>
    <if test="createTime != null and createTime != '' ">
        AND create_time = #{createTime}
    </if>
    <if test="updateTime != null and updateTime != '' ">
        AND update_time = #{updateTime}
    </if>
</sql>

<!--CreatBy Fang Time: |  分页查询统计-->
<select id="countLimitByDTO" resultType="java.lang.Integer">
    SELECT COUNT(1)
    FROM
    <include refid="Table_Name"/>
    WHERE
    <include refid="Select_Limit_State"/>
</select>

<!--CreatBy Fang Time: |  分页查询-->
<select id="selectLimitByDTO" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    <include refid="Table_Name"/>
    WHERE
    <include refid="Select_Limit_State"/>
    LIMIT #{page},#{size}
</select>

<!--CreatBy Fang Time: | 批量查询-->
<select id="batchFindByIds" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    <include refid="Table_Name"/>
    WHERE id in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
        #{item}
    </foreach>
</select>

    <!--CreatBy Fang Time:2019/9/20 20:24 |  -->
    <select id="findCardUserList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="Table_Name"/>
        WHERE school_id = #{schoolId}
        AND user_id = #{userId}
        AND is_delete = 0
        AND card_failure_time > now()
    </select>


    <!--CreatBy Fang Time: |  停用-->
<update id="stopOneById">
    UPDATE <include refid="Table_Name"/>
    SET status = 0
    WHERE id = #{id}
    AND is_delete = 0
</update>

<!--CreatBy Fang Time: |  启用-->
<update id="startOneById">
    UPDATE <include refid="Table_Name"/>
    SET status = 1
    WHERE id = #{id}
    AND is_delete = 0
</update>

</mapper>