<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ops.school.api.dao.CouponMapper">
    <resultMap id="BaseResultMap" type="ops.school.api.entity.Coupon">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="school_id" property="schoolId" jdbcType="BIGINT"/>
        <result column="coupon_name" property="couponName" jdbcType="VARCHAR"/>
        <result column="coupon_desc" property="couponDesc" jdbcType="VARCHAR"/>
        <result column="full_amount" property="fullAmount" jdbcType="INTEGER"/>
        <result column="cut_amount" property="cutAmount" jdbcType="INTEGER"/>
        <result column="coupon_type" property="couponType" jdbcType="INTEGER"/>
        <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP"/>
        <result column="effective_days" property="effectiveDays" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_id" property="createId" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_id" property="updateId" jdbcType="BIGINT"/>
        <result column="is_invalid" property="isInvalid" jdbcType="INTEGER"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        school_id,
        coupon_name,
        coupon_desc,
        full_amount,
        cut_amount,
        coupon_type,
        begin_time,
        effective_days,
        create_time,
        create_id,
        update_time,
        update_id,
        is_invalid,
        is_delete
    </sql>

    <sql id="Table_Name">
        coupon
    </sql>

    <sql id="Select_Limit_State">
        1=1
        <if test="id != null and id != '' ">
            AND id = #{id}
        </if>
        <if test="couponName != null and couponName != '' ">
            AND coupon_name = #{couponName}
        </if>
        <if test="couponDesc != null and couponDesc != '' ">
            AND coupon_desc = #{couponDesc}
        </if>
        <if test="fullAmount != null and fullAmount != '' ">
            AND full_amount = #{fullAmount}
        </if>
        <if test="cutAmount != null and cutAmount != '' ">
            AND cut_amount = #{cutAmount}
        </if>
        <if test="couponType != null and couponType != '' ">
            AND coupon_type = #{couponType}
        </if>
        <if test="beginTime != null and beginTime != '' ">
            AND begin_time = #{beginTime}
        </if>
        <if test="effectiveDays != null and effectiveDays != '' ">
            AND effective_days = #{effectiveDays}
        </if>
        <if test="createTime != null and createTime != '' ">
            AND create_time = #{createTime}
        </if>
        <if test="createId != null and createId != '' ">
            AND create_id = #{createId}
        </if>
        <if test="updateTime != null and updateTime != '' ">
            AND update_time = #{updateTime}
        </if>
        <if test="updateId != null and updateId != '' ">
            AND update_id = #{updateId}
        </if>
        <if test="isInvalid != null and isInvalid != '' ">
            AND is_invalid = #{isInvalid}
        </if>
        <if test="isDelete != null and isDelete != '' ">
            AND is_delete = #{isDelete}
        </if>
    </sql>

    <!--CreatBy Fang Time: |  分页查询统计-->
    <select id="countLimitByDTO" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM
        <include refid="Table_Name"/>
        WHERE
        <include refid="Select_Limit_State"/>
    </select>

    <!--CreatBy Fang Time: |  分页查询-->
    <select id="selectLimitByDTO" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="Table_Name"/>
        WHERE
        <include refid="Select_Limit_State"/>
        LIMIT #{startNum},#{sizeNum}
    </select>

    <!--CreatBy Fang Time: | 批量查询-->
    <select id="batchFindByIds" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="Table_Name"/>
        WHERE id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <!--CreatBy Fang Time: |  停用-->
    <update id="stopOneById">
        UPDATE
        <include refid="Table_Name"/>
        SET is_delete = 1
        WHERE id = #{id}
        AND is_delete = 0
    </update>

    <!--CreatBy Fang Time: |  启用-->
    <update id="startOneById">
        UPDATE
        <include refid="Table_Name"/>
        SET status = 1
        WHERE id = #{id}
        AND is_delete = 0
    </update>

    <select id="findByIndex" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"/>
        where school_id = #{schoolId } and coupon_type = #{couponType}
    </select>

    <insert id="insert" parameterType="ops.school.api.entity.Coupon">
        insert into <include refid="Table_Name"/>
        values (
        null, #{schoolId}, #{couponName}, #{couponDesc}, #{fullAmount},
        #{cutAmount}, #{couponType}, #{beginTime}, #{effectiveDays}, now(),
        #{createId}, null, null, 0,0
        );
    </insert>
    <select id="findByIndex" resultMap="BaseResultMap" parameterType="map">
    select <include refid="Base_Column_List"/>
    from <include refid="Table_Name"/>
    where school_id = #{schoolId } and coupon_type = #{couponType}
</select>
</mapper>