<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ops.school.api.dao.SchoolMapper">
    <resultMap id="BaseResultMap" type="ops.school.api.entity.School">
        <id column="Id" property="id" jdbcType="INTEGER" />
        <result column="app_id" property="appId" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="login_name" property="loginName" jdbcType="VARCHAR" />
        <result column="login_pass_word" property="loginPassWord" jdbcType="VARCHAR" />
        <result column="rate" property="rate" jdbcType="DECIMAL" />
        <result column="money" property="money" jdbcType="DECIMAL" />
        <result column="sort" property="sort" jdbcType="BIGINT" />
        <result column="sender_money" property="senderMoney" jdbcType="DECIMAL" />
        <result column="send_max_distance" property="sendMaxDistance" jdbcType="INTEGER" />
        <result column="send_per_out" property="sendPerOut" jdbcType="INTEGER" />
        <result column="send_per_money" property="sendPerMoney" jdbcType="DECIMAL" />
        <result column="wx_app_id" property="wxAppId" jdbcType="VARCHAR" />
        <result column="wx_secret" property="wxSecret" jdbcType="VARCHAR" />
        <result column="mch_id" property="mchId" jdbcType="VARCHAR" />
        <result column="wx_pay_id" property="wxPayId" jdbcType="VARCHAR" />
        <result column="cert_path" property="certPath" jdbcType="VARCHAR" />
        <result column="top_down" property="topDown" jdbcType="DECIMAL" />
        <result column="is_delete" property="isDelete" jdbcType="BIT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="enable_takeout" property="enableTakeout" jdbcType="INTEGER" />
        <result column="enable_coupon" property="enableCoupon" jdbcType="INTEGER" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="sender_all_tx" property="senderAllTx" jdbcType="DECIMAL" />
        <result column="user_charge" property="userCharge" jdbcType="DECIMAL" />
        <result column="user_bell_all" property="userBellAll" jdbcType="DECIMAL" />
        <result column="user_charge_send" property="userChargeSend" jdbcType="DECIMAL" />
        <result column="page_layout" property="pageLayout" jdbcType="TINYINT" />
        <result column="small_min_amount" property="smallMinAmount" jdbcType="DECIMAL" />
        <result column="middle_min_amount" property="middleMinAmount" jdbcType="DECIMAL" />
        <result column="large_min_amount" property="largeMinAmount" jdbcType="DECIMAL" />
        <result column="extra_large_min_amount" property="extraLargeMinAmount" jdbcType="DECIMAL" />
    </resultMap>

    <sql id="Base_Column_List" >
        Id,
        app_id,
        name,
        login_name,
        login_pass_word,
        rate,
        money,
        sort,
        sender_money,
        send_max_distance,
        send_per_out,
        send_per_money,
        wx_app_id,
        wx_secret,
        mch_id,
        wx_pay_id,
        cert_path,
        top_down,
        is_delete,
        create_time,
        enable_takeout,
        enable_coupon,
        phone,
        sender_all_tx,
        user_charge,
        user_bell_all,
        user_charge_send,
        page_layout,
        small_min_amount,
        middle_min_amount,
        large_min_amount,
        extra_large_min_amount
    </sql>


    <sql id="Select_Limit_State">
        1=1
        <if test="id != null and id != '' ">
            AND Id = #{id}
        </if>
        <if test="appId != null and appId != '' ">
            AND app_id = #{appId}
        </if>
        <if test="name != null and name != '' ">
            AND name = #{name}
        </if>
        <if test="loginName != null and loginName != '' ">
            AND login_name = #{loginName}
        </if>
        <if test="loginPassWord != null and loginPassWord != '' ">
            AND login_pass_word = #{loginPassWord}
        </if>
        <if test="rate != null and rate != '' ">
            AND rate = #{rate}
        </if>
        <if test="money != null and money != '' ">
            AND money = #{money}
        </if>
        <if test="sort != null and sort != '' ">
            AND sort = #{sort}
        </if>
        <if test="senderMoney != null and senderMoney != '' ">
            AND sender_money = #{senderMoney}
        </if>
        <if test="sendMaxDistance != null and sendMaxDistance != '' ">
            AND send_max_distance = #{sendMaxDistance}
        </if>
        <if test="sendPerOut != null and sendPerOut != '' ">
            AND send_per_out = #{sendPerOut}
        </if>
        <if test="sendPerMoney != null and sendPerMoney != '' ">
            AND send_per_money = #{sendPerMoney}
        </if>
        <if test="wxAppId != null and wxAppId != '' ">
            AND wx_app_id = #{wxAppId}
        </if>
        <if test="wxSecret != null and wxSecret != '' ">
            AND wx_secret = #{wxSecret}
        </if>
        <if test="mchId != null and mchId != '' ">
            AND mch_id = #{mchId}
        </if>
        <if test="wxPayId != null and wxPayId != '' ">
            AND wx_pay_id = #{wxPayId}
        </if>
        <if test="certPath != null and certPath != '' ">
            AND cert_path = #{certPath}
        </if>
        <if test="topDown != null and topDown != '' ">
            AND top_down = #{topDown}
        </if>
        <if test="isDelete != null and isDelete != '' ">
            AND is_delete = #{isDelete}
        </if>
        <if test="createTime != null and createTime != '' ">
            AND create_time = #{createTime}
        </if>
        <if test="enableTakeout != null and enableTakeout != '' ">
            AND enable_takeout = #{enableTakeout}
        </if>
        <if test="enableCoupon != null and enableCoupon != '' ">
            AND enable_coupon = #{enableCoupon}
        </if>
        <if test="phone != null and phone != '' ">
            AND phone = #{phone}
        </if>
        <if test="senderAllTx != null and senderAllTx != '' ">
            AND sender_all_tx = #{senderAllTx}
        </if>
        <if test="userCharge != null and userCharge != '' ">
            AND user_charge = #{userCharge}
        </if>
        <if test="userBellAll != null and userBellAll != '' ">
            AND user_bell_all = #{userBellAll}
        </if>
        <if test="userChargeSend != null and userChargeSend != '' ">
            AND user_charge_send = #{userChargeSend}
        </if>
        <if test="pageLayout != null and pageLayout != '' ">
            AND page_layout = #{pageLayout}
        </if>
        <if test="smallMinAmount != null and smallMinAmount != '' ">
            AND small_min_amount = #{smallMinAmount}
        </if>
        <if test="middleMinAmount != null and middleMinAmount != '' ">
            AND middle_min_amount = #{middleMinAmount}
        </if>
        <if test="largeMinAmount != null and largeMinAmount != '' ">
            AND large_min_amount = #{largeMinAmount}
        </if>
        <if test="extraLargeMinAmount != null and extraLargeMinAmount != '' ">
            AND extra_large_min_amount = #{extraLargeMinAmount}
        </if>
    </sql>


    <update id="charge" parameterType="map">
   update school set
   user_charge_send=user_charge_send+#{send},
   user_bell_all=user_bell_all+#{charge}
   where id=#{schoolId}
  </update>

    <update id="chargeUse" parameterType="map">
   update school set user_bell_all=user_bell_all-#{amount} where id=#{schoolId}
  </update>

    <update id="tx" parameterType="map">
   update school set money=money-#{amount} where id=#{schoolId} and money >= #{amount}
  </update>

    <update id="sendertx" parameterType="map">
   update school
   set
   sender_money=sender_money-#{amount},
   sender_all_tx=sender_all_tx+#{amount}
   where id=#{schoolId}
  </update>

    <update id="endOrder" parameterType="map">
  update school set money=money+#{money},sender_money=sender_money+#{sendMoney} where id=#{schoolId}
  </update>

    <select id="login" resultMap="BaseResultMap" parameterType="ops.school.api.entity.School">
   select * from school where login_name=#{loginName} and login_pass_word=#{loginPassWord} and is_delete=0
  </select>
    <select id="find" resultMap="BaseResultMap" parameterType="ops.school.api.entity.School">
        select
        *
        from school
        <where>
            <if test="id!=null">
                id =#{id}
            </if>
            <if test="appId!=null">
                and app_id =#{appId}
            </if>
            <if test="wxAppId!=null">
                and wx_app_id =#{wxAppId}
            </if>
            <if test="name!=null">
                and name =#{name}
            </if>
            and is_delete=0
        </where>
        <if test="orderBy!=null">
            order by #{orderBy}
        </if>
        <if test="page!=null and size!=null">
            limit #{page},#{size}
        </if>
    </select>

    <select id="findByLoginName" resultMap="BaseResultMap" parameterType="string">
    select * from school where login_name=#{loginName}
  </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    *
    from school
    where Id = #{id,jdbcType=INTEGER}
  </select>


    <select id="findOneBySCId" resultType="ops.school.api.entity.School">
        select
        *
        from school
        where Id = #{id,jdbcType=INTEGER}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="ops.school.api.entity.School">
        update school
        <set>
            page_layout = #{pageLayout},
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="loginPassWord != null">
                login_pass_word = #{loginPassWord,jdbcType=VARCHAR},
            </if>
            <if test="rate != null">
                rate = #{rate,jdbcType=DECIMAL},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=DECIMAL},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=BIGINT},
            </if>
            <if test="sendMaxDistance != null">
                send_max_distance = #{sendMaxDistance,jdbcType=INTEGER},
            </if>
            <if test="sendPerOut != null">
                send_per_out = #{sendPerOut,jdbcType=INTEGER},
            </if>
            <if test="sendPerMoney != null">
                send_per_money = #{sendPerMoney,jdbcType=DECIMAL},
            </if>
            <if test="wxAppId != null">
                wx_app_id = #{wxAppId,jdbcType=VARCHAR},
            </if>
            <if test="wxSecret != null">
                wx_secret = #{wxSecret,jdbcType=VARCHAR},
            </if>
            <if test="certPath != null">
                cert_path = #{certPath,jdbcType=VARCHAR},
            </if>
            <if test="mchId != null">
                mch_id = #{mchId,jdbcType=VARCHAR},
            </if>
            <if test="wxPayId != null">
                wx_pay_id = #{wxPayId,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="topDown!= null">
                top_down = #{topDown},
            </if>
            <if test="enableTakeout!= null">
                enable_takeout = #{enableTakeout},
            </if>
            <if test="phone!= null">
                phone = #{phone},
            </if>


            <if test="senderAllTx != null ">
                 sender_all_tx = #{senderAllTx},
            </if>
            <if test="userCharge != null">
                 user_charge = #{userCharge},
            </if>
            <if test="userBellAll != null">
                 user_bell_all = #{userBellAll},
            </if>
            <if test="userChargeSend != null ">
                 user_charge_send = #{userChargeSend},
            </if>
            <if test="smallMinAmount != null">
                 small_min_amount = #{smallMinAmount},
            </if>
<!--            <if test="middleMinAmount != null">-->
<!--                 middle_min_amount = #{middleMinAmount},-->
<!--            </if>-->
            <if test="largeMinAmount != null">
                large_min_amount = #{largeMinAmount},
            </if>
            <if test="extraLargeMinAmount != null">
                 extra_large_min_amount = #{extraLargeMinAmount},
            </if>
            middle_min_amount = #{middleMinAmount}
        </set>
        where Id = #{id,jdbcType=INTEGER}
    </update>

    <!--CreatBy Fang Time:2019/8/5 11:19 |  增加user_charge，user_bell_all，user_charge_send，by id-->
    <update id="rechargeScChargeSendBellByModel">
        UPDATE school
        SET
        user_charge = user_charge + #{userCharge},
        user_charge_send = user_charge_send + #{userChargeSend},
        user_bell_all = user_bell_all + #{userBellAll}
        WHERE Id = #{id}
    </update>

    <!--CreatBy Fang Time:2019/8/5 18:41 |  扣除学校余额数据和粮票余额-->
    <update id="disScUserBellAllAndUserSBellByScId">
        UPDATE school
        SET
        user_bell_all = user_bell_all - #{payPrice},
        user_charge_send = user_charge_send - #{payFoodCoupon}
        WHERE Id = #{schoolId}
        AND user_bell_all >= #{payPrice}
        AND user_charge_send >=  #{payFoodCoupon}
    </update>

</mapper>