<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ops.school.api.dao.SchoolMapper">
    <resultMap id="BaseResultMap" type="ops.school.api.entity.School">
        <id column="Id" property="id" jdbcType="INTEGER" />
        <result column="app_id" property="appId" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="login_name" property="loginName" jdbcType="VARCHAR" />
        <result column="login_pass_word" property="loginPassWord" jdbcType="VARCHAR" />
        <result column="rate" property="rate" jdbcType="DECIMAL" />
        <result column="money" property="money" jdbcType="DECIMAL" />
        <result column="sort" property="sort" jdbcType="BIGINT" />
        <result column="sender_money" property="senderMoney" jdbcType="DECIMAL" />
        <result column="send_max_distance" property="sendMaxDistance" jdbcType="INTEGER" />
        <result column="send_per_out" property="sendPerOut" jdbcType="INTEGER" />
        <result column="send_per_money" property="sendPerMoney" jdbcType="DECIMAL" />
        <result column="wx_app_id" property="wxAppId" jdbcType="VARCHAR" />
        <result column="wx_secret" property="wxSecret" jdbcType="VARCHAR" />
        <result column="mch_id" property="mchId" jdbcType="VARCHAR" />
        <result column="wx_pay_id" property="wxPayId" jdbcType="VARCHAR" />
        <result column="cert_path" property="certPath" jdbcType="VARCHAR" />
        <result column="top_down" property="topDown" jdbcType="DECIMAL" />
        <result column="is_delete" property="isDelete" jdbcType="BIT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="enable_takeout" property="enableTakeout" jdbcType="INTEGER" />
        <result column="enable_coupon" property="enableCoupon" jdbcType="INTEGER" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="sender_all_tx" property="senderAllTx" jdbcType="DECIMAL" />
        <result column="user_charge" property="userCharge" jdbcType="DECIMAL" />
        <result column="user_bell_all" property="userBellAll" jdbcType="DECIMAL" />
        <result column="user_charge_send" property="userChargeSend" jdbcType="DECIMAL" />
        <result column="page_layout" property="pageLayout" jdbcType="TINYINT" />
        <result column="small_min_amount" property="smallMinAmount" jdbcType="DECIMAL" />
        <result column="middle_min_amount" property="middleMinAmount" jdbcType="DECIMAL" />
        <result column="large_min_amount" property="largeMinAmount" jdbcType="DECIMAL" />
        <result column="extra_large_min_amount" property="extraLargeMinAmount" jdbcType="DECIMAL" />
    </resultMap>

    <sql id="Base_Column_List" >
        Id,
        app_id,
        name,
        login_name,
        login_pass_word,
        rate,
        money,
        sort,
        sender_money,
        send_max_distance,
        send_per_out,
        send_per_money,
        wx_app_id,
        wx_secret,
        mch_id,
        wx_pay_id,
        cert_path,
        top_down,
        is_delete,
        create_time,
        enable_takeout,
        enable_coupon,
        phone,
        sender_all_tx,
        user_charge,
        user_bell_all,
        user_charge_send,
        page_layout,
        small_min_amount,
        middle_min_amount,
        large_min_amount,
        extra_large_min_amount
    </sql>

    <update id="charge" parameterType="map">
   update school set user_charge=user_charge+#{charge},
   user_charge_send=user_charge_send+#{send},user_bell_all=user_bell_all+#{charge}+#{send} where id=#{schoolId}
  </update>

    <update id="chargeUse" parameterType="map">
   update school set user_bell_all=user_bell_all-#{amount} where id=#{schoolId}
  </update>

    <update id="tx" parameterType="map">
   update school set money=money-#{amount} where id=#{schoolId} and money >= #{amount}
  </update>

    <update id="sendertx" parameterType="map">
   update school set sender_money=sender_money-#{amount},sender_all_tx=sender_all_tx+#{amount} where id=#{schoolId}
  </update>

    <update id="endOrder" parameterType="map">
  update school set money=money+#{money},sender_money=sender_money+#{sendMoney} where id=#{schoolId}
  </update>

    <select id="login" resultMap="BaseResultMap" parameterType="ops.school.api.entity.School">
   select * from school where login_name=#{loginName} and login_pass_word=#{loginPassWord} and is_delete=0
  </select>
    <select id="find" resultMap="BaseResultMap" parameterType="ops.school.api.entity.School">
        select
        *
        from school
        <where>
            <if test="id!=null">
                id =#{id}
            </if>
            <if test="appId!=null">
                and app_id =#{appId}
            </if>
            <if test="wxAppId!=null">
                and wx_app_id =#{wxAppId}
            </if>
            <if test="name!=null">
                and name =#{name}
            </if>
            and is_delete=0
        </where>
        <if test="orderBy!=null">
            order by #{orderBy}
        </if>
        <if test="page!=null and size!=null">
            limit #{page},#{size}
        </if>
    </select>

    <select id="findByLoginName" resultMap="BaseResultMap" parameterType="string">
    select * from school where login_name=#{loginName}
  </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    *
    from school
    where Id = #{id,jdbcType=INTEGER}
  </select>


    <select id="findOneBySCId" resultType="ops.school.api.entity.School">
        select
        *
        from school
        where Id = #{id,jdbcType=INTEGER}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="ops.school.api.entity.School">
        update school
        <set>
            page_layout = #{pageLayout},
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="loginPassWord != null">
                login_pass_word = #{loginPassWord,jdbcType=VARCHAR},
            </if>
            <if test="rate != null">
                rate = #{rate,jdbcType=DECIMAL},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=BIGINT},
            </if>
            <if test="sendMaxDistance != null">
                send_max_distance = #{sendMaxDistance,jdbcType=INTEGER},
            </if>
            <if test="sendPerOut != null">
                send_per_out = #{sendPerOut,jdbcType=INTEGER},
            </if>
            <if test="sendPerMoney != null">
                send_per_money = #{sendPerMoney,jdbcType=DECIMAL},
            </if>
            <if test="wxAppId != null">
                wx_app_id = #{wxAppId,jdbcType=VARCHAR},
            </if>
            <if test="wxSecret != null">
                wx_secret = #{wxSecret,jdbcType=VARCHAR},
            </if>
            <if test="certPath != null">
                cert_path = #{certPath,jdbcType=VARCHAR},
            </if>
            <if test="mchId != null">
                mch_id = #{mchId,jdbcType=VARCHAR},
            </if>
            <if test="wxPayId != null">
                wx_pay_id = #{wxPayId,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="topDown!= null">
                top_down = #{topDown},
            </if>
            <if test="enableTakeout!= null">
                enable_takeout = #{enableTakeout},
            </if>
            <if test="phone!= null">
                phone = #{phone},
            </if>


            <if test="senderAllTx != null ">
                 sender_all_tx = #{senderAllTx},
            </if>
            <if test="userCharge != null">
                 user_charge = #{userCharge},
            </if>
            <if test="userBellAll != null">
                 user_bell_all = #{userBellAll},
            </if>
            <if test="userChargeSend != null ">
                 user_charge_send = #{userChargeSend},
            </if>
            <if test="smallMinAmount != null">
                 small_min_amount = #{smallMinAmount},
            </if>
<!--            <if test="middleMinAmount != null">-->
<!--                 middle_min_amount = #{middleMinAmount},-->
<!--            </if>-->
            <if test="largeMinAmount != null">
                large_min_amount = #{largeMinAmount},
            </if>
            <if test="extraLargeMinAmount != null">
                 extra_large_min_amount = #{extraLargeMinAmount},
            </if>
            middle_min_amount = #{middleMinAmount}
        </set>
        where Id = #{id,jdbcType=INTEGER}
    </update>

</mapper>