<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ops.school.api.dao.ShopCouponMapper" >
<resultMap id="BaseResultMap" type="ops.school.api.entity.ShopCoupon" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="coupon_id" property="couponId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
</resultMap>

    <sql id="Base_Column_List" >
        id,
        shop_id,
        coupon_id,
        create_time,
        create_id,
        is_delete
    </sql>

    <sql id="Table_Name">
        shop_coupon
    </sql>

<sql id="Select_Limit_State">
    1=1
    <if test="id != null and id != '' ">
        AND id = #{id}
    </if>
    <if test="shopId != null and shopId != '' ">
        AND shop_id = #{shopId}
    </if>
    <if test="couponId != null and couponId != '' ">
        AND coupon_id = #{couponId}
    </if>
    <if test="createTime != null and createTime != '' ">
        AND create_time = #{createTime}
    </if>
    <if test="createId != null and createId != '' ">
        AND create_id = #{createId}
    </if>
    <if test="isDelete != null and isDelete != '' ">
        AND is_delete = #{isDelete}
    </if>
</sql>

<!--CreatBy Fang Time: |  分页查询统计-->
<select id="countLimitByDTO" resultType="java.lang.Integer">
    SELECT COUNT(1)
    FROM
    <include refid="Table_Name"/>
    WHERE
    <include refid="Select_Limit_State"/>
</select>

<!--CreatBy Fang Time: |  分页查询-->
<select id="selectLimitByDTO" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    <include refid="Table_Name"/>
    WHERE
    <include refid="Select_Limit_State"/>
    LIMIT #{startNum},#{sizeNum}
</select>

<!--CreatBy Fang Time: | 批量查询-->
<select id="batchFindByIds" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    <include refid="Table_Name"/>
    WHERE id in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
        #{item}
    </foreach>
</select>




<!--CreatBy Fang Time: |  停用-->
<update id="stopOneById">
    UPDATE <include refid="Table_Name"/>
    SET status = 0
    WHERE id = #{id}
    AND is_delete = 0
</update>

<!--CreatBy Fang Time: |  启用-->
<update id="startOneById">
    UPDATE <include refid="Table_Name"/>
    SET status = 1
    WHERE id = #{id}
    AND is_delete = 0
</update>

<insert id="insert" parameterType="ops.school.api.entity.ShopCoupon">
    insert into <include refid="Table_Name"/>
    values (
    null, #{shopId}, #{couponId}, now(), #{createId}, 0
    );
</insert>

    <!--CreatBy Fang Time:2019/7/25 21:05 |  -->
    <insert id="batchInsert">
        INSERT INTO <include refid="Table_Name"/>
        (
        id,
        shop_id,
        coupon_id,
        create_time,
        create_id,
        is_delete
        )
        VALUES
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            (
            #{item.id},
            #{item.shopId},
            #{item.couponId},
            now(),
            #{item.createId},
            #{item.isDelete}
            )
        </foreach>


    </insert>
</mapper>