<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ops.school.api.dao.ShopCouponMapper" >
<resultMap id="BaseResultMap" type="ops.school.api.entity.ShopCoupon" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="coupon_id" property="couponId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="coupon_type" property="couponType" jdbcType="INTEGER" />
    <collection property="shop" ofType="ops.school.api.entity.Shop">
        <id column="ShopId" jdbcType="INTEGER" property="id"/>
        <result column="school_id" jdbcType="INTEGER" property="schoolId"/>
        <result column="shop_name" jdbcType="VARCHAR" property="shopName"/>
        <result column="shop_phone" jdbcType="VARCHAR" property="shopPhone"/>
        <result column="shop_image" jdbcType="VARCHAR" property="shopImage"/>
        <result column="shop_category_id" jdbcType="INTEGER" property="shopCategoryId"/>
        <result column="open_flag" jdbcType="INTEGER" property="openFlag"/>
        <result column="send_model_flag" jdbcType="INTEGER" property="sendModelFlag"/>
        <result column="get_model_flag" jdbcType="INTEGER" property="getModelFlag"/>
        <result column="ts_model_flag" jdbcType="INTEGER" property="tsModelFlag"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
        <result column="start_price" jdbcType="DECIMAL" property="startPrice"/>
        <result column="box_price" jdbcType="DECIMAL" property="boxPrice"/>
        <result column="min_discount" jdbcType="DECIMAL" property="minDiscount"/>
        <result column="send_price" jdbcType="DECIMAL" property="sendPrice"/>
        <result column="send_time" jdbcType="VARCHAR" property="sendTime"/>
        <result column="top_title" jdbcType="VARCHAR" property="topTitle"/>
        <result column="shop_login_name" jdbcType="VARCHAR" property="shopLoginName"/>
        <result column="shop_login_pass_word" jdbcType="VARCHAR" property="shopLoginPassWord"/>
        <result column="shop_address" jdbcType="VARCHAR" property="shopAddress"/>
        <result column="rate" jdbcType="DECIMAL" property="rate"/>
        <result column="lat" jdbcType="VARCHAR" property="lat"/>
        <result column="lng" jdbcType="VARCHAR" property="lng"/>
        <result column="vip_discount_flag" jdbcType="INTEGER" property="vipDiscountFlag"/>
        <result column="send_price_add_by_count_flag" jdbcType="INTEGER" property="sendPriceAddByCountFlag"/>
        <result column="send_price_add" jdbcType="DECIMAL" property="sendPriceAdd"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="sort" jdbcType="BIGINT" property="sort"/>
        <result column="shop_tx_flag" property="shopTxFlag"/>
    </collection>

</resultMap>

    <resultMap id="CouponResultMap" type="ops.school.api.entity.ShopCoupon" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="shop_id" property="shopId" jdbcType="BIGINT" />
        <result column="coupon_id" property="couponId" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_id" property="createId" jdbcType="BIGINT" />
        <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
        <result column="coupon_type" property="couponType" jdbcType="INTEGER" />
        <collection property="coupon" ofType="ops.school.api.entity.Coupon">
            <id column="couponId" property="id" jdbcType="BIGINT"/>
            <result column="school_id" property="schoolId" jdbcType="BIGINT"/>
            <result column="coupon_name" property="couponName" jdbcType="VARCHAR"/>
            <result column="coupon_desc" property="couponDesc" jdbcType="VARCHAR"/>
            <result column="full_amount" property="fullAmount" jdbcType="INTEGER"/>
            <result column="cut_amount" property="cutAmount" jdbcType="INTEGER"/>
            <result column="coupon_type" property="couponType" jdbcType="INTEGER"/>
            <result column="yes_show_index" property="yesShowIndex" jdbcType="INTEGER"/>
            <result column="send_begin_time" property="sendBeginTime" jdbcType="TIMESTAMP"/>
            <result column="send_end_time" property="sendEndTime" jdbcType="TIMESTAMP"/>
            <result column="effective_days" property="effectiveDays" jdbcType="INTEGER"/>
            <result column="couponCreateTime" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="create_id" property="createId" jdbcType="BIGINT"/>
            <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
            <result column="update_id" property="updateId" jdbcType="BIGINT"/>
            <result column="is_invalid" property="isInvalid" jdbcType="INTEGER"/>
            <result column="couponIsDelete" property="isDelete" jdbcType="INTEGER"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List" >
        id,
        shop_id,
        coupon_id,
        create_time,
        create_id,
        is_delete,
        coupon_type
    </sql>

    <sql id="Rel_Column_List" >
        shop_coupon.id,
        shop_coupon.shop_id,
        shop_coupon.coupon_id,
        shop_coupon.create_time,
        shop_coupon.create_id,
        shop_coupon.is_delete,
        shop_coupon.coupon_type,

        shop.Id AS ShopId,
        shop.school_id,
        shop.shop_name,
        shop.shop_phone,
        shop.shop_image,
        shop.shop_category_id,
        shop.open_flag,
        shop.send_model_flag,
        shop.get_model_flag,
        shop.score,
        shop.start_price,
        shop.box_price,
        shop.send_price,
        shop.send_time,
        shop.top_title,
        shop.shop_login_name,
        shop.shop_address,
        shop.rate,
        shop.lat,
        shop.lng,
        shop.vip_discount_flag,
        shop.send_price_add_by_count_flag,
        shop.send_price_add,
        shop.is_delete,
        shop.sort,
        shop.ts_model_flag,
        shop.full_minus_rate,
        shop.coupon_rate,
        shop.discount_rate,
        shop.shop_tx_flag,
        shop.tx_amount,
        shop.all_tx_amount
    </sql>


    <sql id="Rel_Coupon_Column_List" >
        shop_coupon.id,
        shop_coupon.shop_id,
        shop_coupon.coupon_id,
        shop_coupon.create_time,
        shop_coupon.create_id,
        shop_coupon.is_delete,

        coupon.id as couponId,
        coupon.school_id,
        coupon.coupon_name,
        coupon.coupon_desc,
        coupon.full_amount,
        coupon.cut_amount,
        coupon.coupon_type,
        coupon.yes_show_index,
        coupon.send_begin_time,
        coupon.send_end_time,
        coupon.effective_days,
        coupon.create_time as couponCreateTime,
        coupon.update_time,
        coupon.update_id,
        coupon.is_invalid,
        coupon.is_delete as couponIsDelete
    </sql>



    <sql id="Table_Name">
        shop_coupon
    </sql>

<sql id="Select_Limit_State">
    1=1
    <if test="id != null and id != '' ">
        AND id = #{id}
    </if>
    <if test="shopId != null and shopId != '' ">
        AND shop_id = #{shopId}
    </if>
    <if test="couponId != null and couponId != '' ">
        AND coupon_id = #{couponId}
    </if>
    <if test="createTime != null and createTime != '' ">
        AND create_time = #{createTime}
    </if>
    <if test="createId != null and createId != '' ">
        AND create_id = #{createId}
    </if>
    <if test="isDelete != null and isDelete != '' ">
        AND is_delete = #{isDelete}
    </if>
    <if test="couponType != null and couponType != '' ">
        AND coupon_type = #{couponType}
    </if>
</sql>

<!--CreatBy Fang Time: |  分页查询统计-->
<select id="countLimitByDTO" resultType="java.lang.Integer">
    SELECT COUNT(1)
    FROM
    <include refid="Table_Name"/>
    WHERE
    <include refid="Select_Limit_State"/>
</select>

<!--CreatBy Fang Time: |  分页查询-->
<select id="selectLimitByDTO" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    <include refid="Table_Name"/>
    WHERE
    <include refid="Select_Limit_State"/>
    LIMIT #{page},#{size}
</select>

<!--CreatBy Fang Time: | 批量查询-->
<select id="batchFindByIds" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    <include refid="Table_Name"/>
    WHERE id in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
        #{item}
    </foreach>
</select>

    <!--CreatBy Fang Time:2019/7/26 18:00 |  根据couponIds查询-->
    <select id="batchFindSCByCouponIdS" resultMap="BaseResultMap">
        SELECT <include refid="Rel_Column_List"/>
        FROM shop_coupon,shop
        WHERE shop_coupon.coupon_id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND shop_coupon.is_delete = 0
        AND shop_coupon.shop_id = shop.id
    </select>

    <!--CreatBy Fang Time:2019/7/31 16:28 |  desc根据店铺id查询店铺发放的优惠券-->
    <select id="batchFindSCByShopIdAndType" resultMap="CouponResultMap">
        SELECT <include refid="Rel_Coupon_Column_List"/>
        FROM shop_coupon,coupon
        WHERE shop_coupon.shop_id = #{shopId}
        AND shop_coupon.coupon_type = #{couponType}
        AND shop_coupon.is_delete = 0
        AND coupon.is_delete = 0
        AND coupon.is_invalid = 0
        AND shop_coupon.coupon_id = coupon.id
    </select>

    <!--CreatBy Fang Time:2019/7/31 19:31 | 根据优惠卷ids和shopid查询优惠券 -->
    <select id="batchFindSCByCouponIdSAndShopId" resultType="ops.school.api.entity.ShopCoupon">
        SELECT <include refid="Rel_Column_List"/>
        FROM shop_coupon,shop
        WHERE shop_coupon.coupon_id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND shop_coupon.is_delete = 0
        AND shop_coupon.shop_id = #{shopId}
        AND shop_coupon.shop_id = shop.id
    </select>

    <!--CreatBy Fang Time:2019/8/1 16:49 |  -->
    <select id="findShopCouponBySIdAndCId" resultMap="BaseResultMap">
        SELECT <include refid="Rel_Column_List"/>
        FROM shop_coupon,shop
        WHERE shop_coupon.coupon_id = #{couponId}
        AND shop_coupon.is_delete = 0
        AND shop_coupon.shop_id = #{shopId}
        AND shop_coupon.shop_id = shop.id
    </select>


    <!--CreatBy Fang Time: |  停用-->
<update id="stopOneById">
    UPDATE <include refid="Table_Name"/>
    SET status = 0
    WHERE id = #{id}
    AND is_delete = 0
</update>

<!--CreatBy Fang Time: |  启用-->
<update id="startOneById">
    UPDATE <include refid="Table_Name"/>
    SET status = 1
    WHERE id = #{id}
    AND is_delete = 0
</update>


    <!--CreatBy Fang Time:2019/7/27 11:54 |根据店铺id批量逻辑删除优惠卷  -->
    <update id="batchDeleteSCByShopId">
        UPDATE <include refid="Table_Name"/>
        SET is_delete = 1
        WHERE shop_id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND is_delete = 0
    </update>

    <!--CreatBy Fang Time:2019/7/27 11:54 | 根据优惠券id批量逻辑删除优惠卷 -->
    <update id="batchDeleteSCByCouponId">
        UPDATE <include refid="Table_Name"/>
        SET is_delete = 1
        WHERE coupon_id = #{id}
        AND is_delete = 0
    </update>

    <insert id="insertOne" parameterType="ops.school.api.entity.ShopCoupon">
    insert into <include refid="Table_Name"/>
    values (
    null, #{shopId}, #{couponId}, now(), #{createId}, 0, 0
    );
</insert>

    <!--CreatBy Fang Time:2019/7/25 21:05 |  -->
    <insert id="batchInsert">
        INSERT INTO <include refid="Table_Name"/>
        (
        shop_id,
        coupon_id,
        create_time,
        create_id,
        is_delete,
        coupon_type
        )
        VALUES
        <foreach collection="list" item="item" index="index" open=" " separator="," close=" ">
        (
            #{item.shopId},
            #{item.couponId},
            now(),
            #{item.createId},
            #{item.isDelete},
            #{item.couponType}
        )
        </foreach>


    </insert>
</mapper>