<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ops.school.api.dao.ShopFeiEMapper" >
<resultMap id="BaseResultMap" type="ops.school.api.entity.ShopFeiE" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="yes_print_gpr" property="yesPrintGpr" jdbcType="INTEGER" />
    <result column="fei_e_sn" property="feiESn" jdbcType="INTEGER" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="update_id" property="updateId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
</resultMap>

    <sql id="Base_Column_List" >
        id,
        shop_id,
        yes_print_gpr,
        fei_e_sn,
        create_id,
        update_id,
        create_time,
        update_time
    </sql>

    <sql id="Table_Name">
        shop_fei_e
    </sql>

<sql id="Select_Limit_State">
    1=1
    <if test="id != null and id != '' ">
        AND id = #{id}
    </if>
    <if test="shopId != null and shopId != '' ">
        AND shop_id = #{shopId}
    </if>
    <if test="yesPrintGpr != null and yesPrintGpr != '' ">
        AND yes_print_gpr = #{yesPrintGpr}
    </if>
    <if test="feiESn != null and feiESn != '' ">
        AND fei_e_sn = #{feiESn}
    </if>
    <if test="createId != null and createId != '' ">
        AND create_id = #{createId}
    </if>
    <if test="updateId != null and updateId != '' ">
        AND update_id = #{updateId}
    </if>
    <if test="createTime != null and createTime != '' ">
        AND create_time = #{createTime}
    </if>
    <if test="updateTime != null and updateTime != '' ">
        AND update_time = #{updateTime}
    </if>
</sql>

<!--CreatBy Fang Time: |  分页查询统计-->
<select id="countLimitByDTO" resultType="java.lang.Integer">
    SELECT COUNT(1)
    FROM
    <include refid="Table_Name"/>
    WHERE
    <include refid="Select_Limit_State"/>
</select>

<!--CreatBy Fang Time: |  分页查询-->
<select id="selectLimitByDTO" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    <include refid="Table_Name"/>
    WHERE
    <include refid="Select_Limit_State"/>
    LIMIT #{startNum},#{sizeNum}
</select>

<!--CreatBy Fang Time: | 批量查询-->
<select id="batchFindByIds" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    <include refid="Table_Name"/>
    WHERE id in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
        #{item}
    </foreach>
</select>

</mapper>