<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ops.school.api.dao.TxLogMapper">
    <resultMap id="BaseResultMap" type="ops.school.api.entity.TxLog">
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="txer_id" jdbcType="INTEGER" property="txerId"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="result" jdbcType="VARCHAR" property="result"/>
        <result column="school_id" jdbcType="INTEGER" property="schoolId"/>
        <result column="app_id" jdbcType="INTEGER" property="appId"/>
        <result column="ishow" jdbcType="INTEGER" property="ishow"/>
        <result column="is_tx" jdbcType="INTEGER" property="isTx"/>
        <result column="dz_openid" jdbcType="VARCHAR" property="dzOpenid"/>
        <result column="tx_name" jdbcType="VARCHAR" property="txName" />
    </resultMap>

    <!--查询提现人是否存在未审核的提现记录-->
    <select id="findTxLogs" parameterType="map" resultType="int">
        select count(*) from `tx_log`
        where txer_id = #{txerId}
        and `type` = #{type}
        and is_tx = 0
    </select>
</mapper>